Repository openethereum/openethereum, pull requests merged in 2018-02, with the labels that each got.

#7855 Update gitlab-build.sh
  scripts/gitlab-build.sh
Labels: A8-looksgood

#7842 WASM: Disable internal memory
  ethcore/wasm/src/parser.rs
Labels: A0-pleasereview, B0-patch, M4-core

#7869 Clean up docs formatting for Wasm runtime
  ethcore/wasm/src/runtime.rs
Labels: A8-looksgood, M3-docs, M4-core

#7866 Read registry_address from given block
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/miner/miner.rs
  secret_store/src/acl_storage.rs
  secret_store/src/key_server_set.rs
  secret_store/src/listener/service_contract.rs
  updater/src/updater.rs
Labels: A8-looksgood, M4-core

#7868 Flush keyfiles. Resolves #7632
  ethstore/src/accounts_dir/disk.rs
Labels: A8-looksgood, B0-patch, M4-core

#7843 SecretStore: 'broadcast' decryption session
  secret_store/src/key_server_cluster/admin_sessions/servers_set_change_session.rs
  secret_store/src/key_server_cluster/client_sessions/decryption_session.rs
  secret_store/src/key_server_cluster/client_sessions/signing_session.rs
  secret_store/src/key_server_cluster/cluster.rs
  secret_store/src/key_server_cluster/jobs/consensus_session.rs
  secret_store/src/key_server_cluster/jobs/decryption_job.rs
  secret_store/src/key_server_cluster/jobs/job_session.rs
  secret_store/src/key_server_cluster/jobs/signing_job.rs
  secret_store/src/key_server_cluster/message.rs
  secret_store/src/listener/service_contract_listener.rs
Labels: A8-looksgood, M4-core

#7876 Update the instructions to install the stable snap
  README.md
Labels: A2-insubstantial, M3-docs

#7874 Fix string typo: "develoopment" -> "development"
  parity/run.rs
Labels: A8-looksgood

#7881 Fix installer binary names for macos and windows
  .gitlab-ci.yml
  scripts/gitlab-build.sh
Labels: A2-insubstantial, A8-looksgood, M1-ci

#7883 Update gitlab-test.sh
  scripts/aura-test.sh
  scripts/gitlab-test.sh
Labels: A0-pleasereview, B0-patch, M1-ci

#7831 Forward-port snap fixes
  snap/gui/parity.desktop
  snap/snapcraft.yaml
Labels: A8-looksgood, M1-ci

#7846 Fix checksums and auto-update push
  .editorconfig
  .gitlab-ci.yml
  scripts/gitlab-build.sh
  scripts/gitlab-push-release.sh
  scripts/safe_curl.sh
  util/version/Cargo.toml
Labels: A8-looksgood, B0-patch, M0-build, P2-asap

#7878 SecretStore: fixed test
  secret_store/src/key_server_cluster/admin_sessions/key_version_negotiation_session.rs
  secret_store/src/key_server_cluster/cluster.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7848 Add a timeout for light client sync requests
  sync/src/light_sync/mod.rs
  sync/src/light_sync/sync_round.rs
Labels: A8-looksgood, B0-patch, M4-core

#7884 Fix snapcraft nightly
  .gitlab-ci.yml
  scripts/aura-test.sh
  scripts/gitlab-build.sh
  scripts/gitlab-test.sh
  scripts/snapcraft.yaml
Labels: A6-mustntgrumble, B0-patch, M1-ci

#7889 Backport Master CI PRs to Stable
  .editorconfig
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  mac/Parity.pkgproj
  nsis/installer.nsi
  scripts/aura-test.sh
  scripts/gitlab-build.sh
  scripts/gitlab-push-release.sh
  scripts/gitlab-test.sh
  scripts/safe_curl.sh
  util/Cargo.toml
  util/version/Cargo.toml
Labels: A8-backport, M1-ci

#7890 Backport Master CI PRs to Beta
  .editorconfig
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  mac/Parity.pkgproj
  nsis/installer.nsi
  scripts/aura-test.sh
  scripts/gitlab-build.sh
  scripts/gitlab-push-release.sh
  scripts/gitlab-test.sh
  scripts/safe_curl.sh
  scripts/snapcraft.yaml
  util/version/Cargo.toml
Labels: A8-backport, M1-ci

#7894 Beta: Change snapcraft grade to stable
  scripts/gitlab-build.sh
Labels: A2-insubstantial, M1-ci

#7897 fix snap build stable
  scripts/gitlab-build.sh
Labels: A2-insubstantial, M1-ci

#7895 fix snap build beta
  scripts/gitlab-build.sh
Labels: A2-insubstantial, M1-ci

#7896 fix snap build master
  scripts/gitlab-build.sh
Labels: A2-insubstantial, B0-patch, M1-ci

#7605 Aura: Broadcast empty step messages instead of creating empty blocks
  ethcore/light/src/client/mod.rs
  ethcore/res/authority_round_empty_steps.json
  ethcore/src/block.rs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/engines/authority_round/finality.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/engines/basic_authority.rs
  ethcore/src/engines/mod.rs
  ethcore/src/engines/tendermint/mod.rs
  ethcore/src/engines/validator_set/contract.rs
  ethcore/src/ethereum/ethash.rs
  ethcore/src/spec/spec.rs
  ethcore/src/tests/helpers.rs
  ethcore/src/verification/verification.rs
  json/src/spec/authority_round.rs
Labels: A0-pleasereview, B1-relnotes, M4-core

#7901 Fix gitlab
  scripts/gitlab-build.sh
Labels: A2-insubstantial, M1-ci

#7867 Fix CSP for dapps that require eval.
  dapps/src/apps/app.rs
  dapps/src/apps/fetcher/installers.rs
  dapps/src/apps/fetcher/mod.rs
  dapps/src/apps/fs.rs
  dapps/src/apps/manifest.rs
  dapps/src/endpoint.rs
  dapps/src/handlers/content.rs
  dapps/src/handlers/echo.rs
  dapps/src/handlers/mod.rs
  dapps/src/handlers/streaming.rs
  dapps/src/lib.rs
  dapps/src/page/builtin.rs
  dapps/src/page/handler.rs
  dapps/src/page/local.rs
  dapps/src/tests/fetch.rs
  parity/dapps.rs
Labels: A8-looksgood, B0-patch, M4-core

#7615 SecretStore: threshold ECDSA PoC
  ethkey/src/secret.rs
  secret_store/src/key_server_cluster/math.rs
Labels: A8-looksgood, M4-core

#7905 ECIP 1041 - Remove Difficulty Bomb
  ethcore/res/ethereum/classic.json
  ethcore/res/ethereum/morden.json
Labels: A2-insubstantial, B0-patch, M2-config

#7888 Make block generator easier to use
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/blockchain/generator.rs
  ethcore/src/blockchain/generator/block.rs
  ethcore/src/blockchain/generator/bloom.rs
  ethcore/src/blockchain/generator/complete.rs
  ethcore/src/blockchain/generator/fork.rs
  ethcore/src/blockchain/generator/generator.rs
  ethcore/src/blockchain/generator/mod.rs
  ethcore/src/blockchain/generator/transaction.rs
  ethcore/src/snapshot/tests/proof_of_work.rs
Labels: A2-insubstantial, A6-mustntgrumble, M4-core

#7913 [beta] Wallet allowJsEval: true
  dapps/src/apps/mod.rs
  dapps/src/page/builtin.rs
  js-old/src/manifest.json
Labels: A0-pleasereview, A8-backport, M7-ui

#7914 [stable] Fix feature=final
  Cargo.lock
  util/Cargo.toml
Labels: A0-pleasereview, M4-core

#7916 removed redundant otry! macro from ethcore
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/engines/authority_round/mod.rs
  parity/cli/mod.rs
  parity/cli/usage.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7906 Pending transactions subscription
  ethcore/light/src/transaction_queue.rs
  ethcore/src/miner/miner.rs
  parity/rpc_apis.rs
  rpc/src/v1/impls/eth_pubsub.rs
  rpc/src/v1/tests/mocked/eth_pubsub.rs
  rpc/src/v1/types/pubsub.rs
Labels: A8-looksgood, M6-rpcapi

#7918 removed redundant Blockchain::rewind method
  ethcore/src/blockchain/blockchain.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7919 removed redundant Blockchain::db method
  ethcore/src/blockchain/blockchain.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7920 triehash optimisations
  ethcore/light/src/on_demand/request.rs
  ethcore/src/block.rs
  ethcore/src/engines/validator_set/safe_contract.rs
  ethcore/src/pod_account.rs
  ethcore/src/pod_state.rs
  ethcore/src/snapshot/block.rs
  ethcore/src/snapshot/consensus/work.rs
  ethcore/src/verification/verification.rs
  sync/src/blocks.rs
  util/triehash/src/lib.rs
Labels: A0-pleasereview, M4-core

#7917 Fix a division by zero in light client RPC handler
  ethcore/light/src/on_demand/mod.rs
Labels: A8-looksgood, B0-patch, M4-core, P2-asap

#7921 gitlab cache
  .gitlab-ci.yml
Labels: A0-pleasereview, M1-ci

#7936 simplify Client::filter_traces method
  ethcore/src/client/client.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7933 spec: Validate required divisor fields are not 0
  json/src/spec/ethash.rs
  json/src/spec/params.rs
  json/src/uint.rs
Labels: A7-looksgoodtestsfail, M4-core

#7922 removed dummy wrapper structure - LogGroupPosition
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/blockchain/extras.rs
  ethcore/src/blockchain/mod.rs
  ethcore/src/blockchain/update.rs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/trace.rs
  ethcore/src/verification/verification.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7928 removed redundant PodAccount::new method
  ethcore/src/pod_account.rs
  ethcore/src/pod_state.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7926 bring back trie and triehash benches
  Cargo.lock
  ethcore/Cargo.toml
  ethcore/src/snapshot/tests/helpers.rs
  util/patricia_trie/Cargo.toml
  util/patricia_trie/benches/trie.rs
  util/patricia_trie/src/lib.rs
  util/patricia_trie/src/triedbmut.rs
  util/trie-standardmap/Cargo.toml
  util/trie-standardmap/src/lib.rs
  util/triehash/Cargo.toml
  util/triehash/benches/triehash.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7849 Kovan WASM fork code
  Cargo.lock
  ethcore/evm/src/factory.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/light/Cargo.toml
  ethcore/light/src/lib.rs
  ethcore/res/ethereum/kovan_wasm_test.json
  ethcore/src/client/client.rs
  ethcore/src/client/evm_test_client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/engines/mod.rs
  ethcore/src/ethereum/mod.rs
  ethcore/src/executive.rs
  ethcore/src/factory.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/machine.rs
  ethcore/src/spec/spec.rs
  ethcore/src/state/mod.rs
  ethcore/src/tests/helpers.rs
  ethcore/vm/src/lib.rs
  ethcore/vm/src/schedule.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/lib.rs
  ethcore/wasm/src/parser.rs
  ethcore/wasm/src/runtime.rs
  ethcore/wasm/src/tests.rs
  json/src/spec/params.rs
Labels: A8-looksgood, B0-patch, B1-relnotes, M4-core

#7940 Backport of #7844 and #7917 to beta
  ethcore/light/src/on_demand/mod.rs
Labels: A7-looksgoodtestsfail, A8-backport, M4-core

#7929 simplify RefInfo fmt
  util/journaldb/src/earlymergedb.rs
Labels: A0-pleasereview, A2-insubstantial, M4-core

#7932 removed redundant Bloom conversions
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/blooms/bloom_group.rs
  ethcore/src/trace/types/filter.rs
Labels: A0-pleasereview, A2-insubstantial, M4-core

#7943 [beta] Bump react-qr-reader
  js-old/package-lock.json
  js-old/package.json
  js/package-lock.json
  js/src/Dapp/dapp.js
Labels: A0-pleasereview, A8-backport, M7-ui

#7941 [stable] Bump react-qr-reader
  js/package-lock.json
  js/package.json
  js/src/ui/QrCode/qrCode.js
Labels: A0-pleasereview, A8-backport, M7-ui

#7944 Beta: Gitlab Cargo Cache
  .gitlab-ci.yml
Labels: A8-backport, M1-ci

#7945 [Beta] Backports
  Cargo.lock
  ethcore/evm/src/factory.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/light/Cargo.toml
  ethcore/light/src/lib.rs
  ethcore/res/ethereum/classic.json
  ethcore/res/ethereum/kovan_wasm_test.json
  ethcore/res/ethereum/morden.json
  ethcore/src/client/client.rs
  ethcore/src/client/evm_test_client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/engines/mod.rs
  ethcore/src/ethereum/mod.rs
  ethcore/src/executive.rs
  ethcore/src/factory.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/machine.rs
  ethcore/src/spec/spec.rs
  ethcore/src/state/mod.rs
  ethcore/src/tests/helpers.rs
  ethcore/vm/src/lib.rs
  ethcore/vm/src/schedule.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/lib.rs
  ethcore/wasm/src/parser.rs
  ethcore/wasm/src/runtime.rs
  ethcore/wasm/src/tests.rs
  json/src/spec/ethash.rs
  json/src/spec/params.rs
  json/src/uint.rs
Labels: A8-backport, M4-core

#7952 Bump WebSockets
  Cargo.lock
Labels: A8-looksgood, B0-patch, M4-core

#7950 kvdb-rocksdb: remove buffered operations when committing transaction
  util/kvdb-rocksdb/src/lib.rs
  util/kvdb/src/lib.rs
Labels: A8-looksgood, M4-core

#7947 Add changelog for 1.8.10 stable and 1.9.3 beta
  CHANGELOG.md
  docs/CHANGELOG-1.8.md
Labels: A2-insubstantial, M3-docs

#7953 Calculate proper keccak256/sha3 using parity.
  scripts/gitlab-build.sh
Labels: A8-looksgood, B0-patch, M0-build

#7934 fixed broken logs
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/blockchain/cache.rs
  ethcore/src/blockchain/extras.rs
  ethcore/src/blockchain/generator.rs
  ethcore/src/blockchain/update.rs
  ethcore/src/client/client.rs
  ethcore/src/verification/verification.rs
Labels: A6-mustntgrumble, B0-patch, B1-relnotes, M4-core

#7977 Reject too large packets in snapshot sync.
  ethcore/src/snapshot/error.rs
  ethcore/src/snapshot/mod.rs
  ethcore/src/snapshot/service.rs
Labels: A8-looksgood, B0-patch, B1-relnotes, M4-core

#7974 removed old migrations
  Cargo.lock
  ethcore/migrations/Cargo.toml
  ethcore/migrations/src/blocks/mod.rs
  ethcore/migrations/src/blocks/v8.rs
  ethcore/migrations/src/extras/mod.rs
  ethcore/migrations/src/extras/v6.rs
  ethcore/migrations/src/lib.rs
  ethcore/migrations/src/state/mod.rs
  ethcore/migrations/src/state/v7.rs
  ethcore/migrations/src/v10.rs
  ethcore/migrations/src/v9.rs
  parity/helpers.rs
  parity/migration.rs
  util/migration/src/lib.rs
  util/migration/tests/tests.rs
Labels: A8-looksgood, B0-patch, B1-relnotes, M4-core

#7979 fix traces, removed bloomchain crate
  Cargo.lock
  ethcore/Cargo.toml
  ethcore/src/blooms/bloom_group.rs
  ethcore/src/blooms/group_position.rs
  ethcore/src/blooms/mod.rs
  ethcore/src/lib.rs
  ethcore/src/trace/config.rs
  ethcore/src/trace/db.rs
  ethcore/src/trace/types/filter.rs
  util/bloomchain/.gitignore
  util/bloomchain/Cargo.toml
  util/bloomchain/README.md
  util/bloomchain/src/chain.rs
  util/bloomchain/src/config.rs
  util/bloomchain/src/database.rs
  util/bloomchain/src/filter.rs
  util/bloomchain/src/group/bridge.rs
  util/bloomchain/src/group/chain.rs
  util/bloomchain/src/group/database.rs
  util/bloomchain/src/group/group.rs
  util/bloomchain/src/group/mod.rs
  util/bloomchain/src/group/position/manager.rs
  util/bloomchain/src/group/position/mod.rs
  util/bloomchain/src/group/position/position.rs
  util/bloomchain/src/lib.rs
  util/bloomchain/src/number.rs
  util/bloomchain/src/position/manager.rs
  util/bloomchain/src/position/mod.rs
  util/bloomchain/src/position/position.rs
  util/bloomchain/tests/bloomchain.rs
  util/bloomchain/tests/data/blooms.txt
  util/bloomchain/tests/groupchain.rs
  util/bloomchain/tests/util/db.rs
  util/bloomchain/tests/util/each.rs
  util/bloomchain/tests/util/from_hex.rs
  util/bloomchain/tests/util/mod.rs
  util/bloomchain/tests/util/random.rs
Labels: A8-looksgood, B0-patch, B1-relnotes, M4-core

#7982 rpc: don't include current block in new_block_filter
  rpc/src/v1/impls/eth_filter.rs
  rpc/src/v1/tests/mocked/eth.rs
Labels: A8-looksgood, B0-patch, M6-rpcapi

#7990 clean up ethcore::spec module imports
  ethcore/src/spec/genesis.rs
  ethcore/src/spec/mod.rs
  ethcore/src/spec/seal.rs
  ethcore/src/spec/spec.rs
Labels: A0-pleasereview, A2-insubstantial, M4-core

#7985 moved PerfTimer to a separate crate - "trace-time"
  Cargo.lock
  ethcore/Cargo.toml
  ethcore/src/client/client.rs
  ethcore/src/lib.rs
  ethcore/src/miner/miner.rs
  util/trace-time/Cargo.toml
  util/trace-time/src/lib.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7986 remove wildcard imports from views, make tests more idiomatic
  ethcore/src/views/block.rs
  ethcore/src/views/body.rs
  ethcore/src/views/header.rs
  ethcore/src/views/mod.rs
  ethcore/src/views/transaction.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#7860 Hardware-wallet/usb-subscribe-refactor
  hw/src/ledger.rs
  hw/src/lib.rs
  hw/src/trezor.rs
Labels: A8-looksgood, M4-core

#7991 ExecutedBlock cleanup
  ethcore/src/block.rs
  ethcore/src/client/client.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/engines/mod.rs
  ethcore/src/engines/tendermint/mod.rs
  ethcore/src/machine.rs
  ethcore/src/miner/miner.rs
  ethcore/src/tests/client.rs
  ethcore/src/trace/mod.rs
  ethcore/src/trace/types/mod.rs
Labels: A0-pleasereview, M4-core

#7984 improve quality of vote_collector module
  ethcore/src/engines/tendermint/mod.rs
  ethcore/src/engines/vote_collector.rs
Labels: A0-pleasereview, A2-insubstantial, M4-core

#7983 clean up account fmt::Debug
  ethcore/src/pod_state.rs
  ethcore/src/state/account.rs
Labels: A0-pleasereview, A2-insubstantial, M4-core

#8008 [stable] Backports
  Cargo.lock
  ethcore/src/snapshot/error.rs
  ethcore/src/snapshot/mod.rs
  ethcore/src/snapshot/service.rs
  parity/run.rs
  scripts/gitlab-build.sh
  util/fetch/src/client.rs
Labels: A8-backport, M4-core

#8010 Bump stable to 1.8.11
  Cargo.lock
  Cargo.toml
  mac/Parity.pkgproj
  nsis/installer.nsi
  util/Cargo.toml
  util/version/Cargo.toml
Labels: A8-backport, M2-installer

#8011 [beta] Backports
  Cargo.lock
  ethcore/Cargo.toml
  ethcore/src/blockchain/blockchain.rs
  ethcore/src/blockchain/cache.rs
  ethcore/src/blockchain/extras.rs
  ethcore/src/blockchain/generator.rs
  ethcore/src/blockchain/generator/block.rs
  ethcore/src/blockchain/generator/bloom.rs
  ethcore/src/blockchain/generator/complete.rs
  ethcore/src/blockchain/generator/fork.rs
  ethcore/src/blockchain/generator/generator.rs
  ethcore/src/blockchain/generator/mod.rs
  ethcore/src/blockchain/generator/transaction.rs
  ethcore/src/blockchain/update.rs
  ethcore/src/blooms/bloom_group.rs
  ethcore/src/blooms/group_position.rs
  ethcore/src/client/client.rs
  ethcore/src/lib.rs
  ethcore/src/snapshot/error.rs
  ethcore/src/snapshot/mod.rs
  ethcore/src/snapshot/service.rs
  ethcore/src/snapshot/tests/proof_of_work.rs
  ethcore/src/trace/bloom.rs
  ethcore/src/trace/config.rs
  ethcore/src/trace/db.rs
  ethcore/src/trace/mod.rs
  ethcore/src/trace/types/filter.rs
  ethcore/src/verification/verification.rs
  hw/src/ledger.rs
  hw/src/lib.rs
  hw/src/trezor.rs
  parity/run.rs
  scripts/gitlab-build.sh
  util/fetch/src/client.rs
Labels: A8-backport, M4-core

#8016 Bump beta to 1.9.4
  Cargo.lock
  Cargo.toml
  mac/Parity.pkgproj
  nsis/installer.nsi
  util/Cargo.toml
  util/version/Cargo.toml
Labels: A2-insubstantial, A8-backport, M2-installer
