Repository openethereum/openethereum, pull requests merged in 2018-10, with the labels that each got.

#9679 ci: fix push script
  scripts/gitlab/build-unix.sh
  scripts/gitlab/build-windows.sh
  scripts/gitlab/push.sh
Labels: A2-insubstantial 👶, B0-patchthis 🕷, B9-blocker 🚧, M1-ci 🙉

#9650 test.sh: use cargo --target for platforms other than linux, win or mac
  .gitlab-ci.yml
  test.sh
Labels: A8-looksgood 🦄, M1-ci 🙉

#9686 disable cpp lib test for mac, win and beta
  .gitlab-ci.yml
  test.sh
Labels: A8-looksgood 🦄, M1-ci 🙉

#9681 CI: Remove unnecessary pipes
  .gitlab-ci.yml
  README.md
  scripts/aura-test.sh
  scripts/docker/README.md
  scripts/docker/alpine/Dockerfile
  scripts/docker/centos/Dockerfile
  scripts/docker/centos/Dockerfile.build
  scripts/docker/centos/build.sh
  scripts/docker/hub/Dockerfile
  scripts/docker/ubuntu-aarch64/Dockerfile
  scripts/docker/ubuntu-arm/Dockerfile
  scripts/gitlab/build-unix.sh
  scripts/gitlab/build-windows.sh
  scripts/gitlab/cargo-audit.sh
  scripts/gitlab/clippy.sh
  scripts/gitlab/coverage.sh
  scripts/gitlab/docs-jsonrpc.sh
  scripts/gitlab/install-readme.sh
  scripts/gitlab/package-snap.sh
  scripts/gitlab/publish-awss3.sh
  scripts/gitlab/publish-docker.sh
  scripts/gitlab/publish-snap.sh
  scripts/gitlab/push.sh
  scripts/gitlab/safe-curl.sh
  scripts/gitlab/sign-win.cmd
  scripts/gitlab/templates/release-table.md
  scripts/gitlab/templates/snapcraft.template.yaml
  scripts/gitlab/test-all.sh
  snap/gui/icon.png
  snap/gui/parity.desktop
  test.sh
Labels: A9-buythatmanabeer 🍻, B0-patchthis 🕷, M1-ci 🙉

#9682 update parity-wordlist library
  Cargo.lock
Labels: A2-insubstantial 👶, A7-looksgoodcantmerge 🙄, M4-core ⛓

#9360 Resumable EVM and heap-allocated callstack
  ethcore/evm/src/evm.rs
  ethcore/evm/src/factory.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/factory.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/trace/db.rs
  ethcore/src/trace/executive_tracer.rs
  ethcore/src/trace/mod.rs
  ethcore/src/trace/noop_tracer.rs
  ethcore/src/trace/types/flat.rs
  ethcore/vm/src/error.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/lib.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/run/src/runner.rs
  ethcore/wasm/src/lib.rs
  ethcore/wasm/src/runtime.rs
  ethcore/wasm/src/tests.rs
  evmbin/src/display/json.rs
  evmbin/src/display/simple.rs
  evmbin/src/display/std_json.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9404 Add a new RPC `parity_submitWorkDetail` similar `eth_submitWork` but return block hash
  rpc/src/v1/helpers/errors.rs
  rpc/src/v1/helpers/mod.rs
  rpc/src/v1/helpers/work.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/light/parity.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/traits/parity.rs
Labels: A8-looksgood 🦄, M6-rpcapi 📣

#9670 Verify block syncing responses against requests
  ethcore/src/client/test_client.rs
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/blocks.rs
  ethcore/sync/src/chain/handler.rs
  ethcore/sync/src/tests/chain.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9605 ethcore: mcip3 block reward contract
  ethcore/res/ethereum/mcip3_test.json
  ethcore/res/ethereum/mcip6_byz.json
  ethcore/res/ethereum/musicoin.json
  ethcore/src/ethereum/ethash.rs
  ethcore/src/ethereum/mod.rs
  json/src/spec/ethash.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9689 Docker: run parity as normal user
  scripts/docker/hub/Dockerfile
Labels: A8-looksgood 🦄, M1-ci 🙉

#9666 Add Foundation Bootnodes
  ethcore/res/ethereum/foundation.json
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M2-config 📂

#9683 removed redundant clone before each block import
  ethcore/light/src/client/mod.rs
  ethcore/src/client/client.rs
  ethcore/src/verification/queue/kind.rs
  ethcore/src/verification/queue/mod.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9697 ethcore: minor optimization of modexp by using LR exponentiation
  ethcore/benches/builtin.rs
  ethcore/src/builtin.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9688 Don't hash the init_code of CREATE.
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/interpreter/shared_cache.rs
Labels: A8-looksgood 🦄, B1-patch-beta 🕷, M4-core ⛓, P2-asap 🌊

#9694 Implement CREATE2 gas changes and fix some potential overflowing
  ethcore/evm/src/evm.rs
  ethcore/evm/src/interpreter/gasometer.rs
  ethcore/res/ethereum/tests-issues/currents.json
Labels: A0-pleasereview 🤓, B1-patch-beta 🕷, M4-core ⛓

#9700 make instantSeal engine backwards compatible
  ethcore/src/engines/instant_seal.rs
  ethcore/src/engines/mod.rs
  ethcore/src/spec/spec.rs
  json/src/spec/engine.rs
Labels: A8-looksgood 🦄, B1-patch-beta 🕷, M4-core ⛓

#9704 ethcore: delay ropsten hardfork
  ethcore/res/ethereum/ropsten.json
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M2-config 📂

#9552 ethcore: fix detection of major import
  ethcore/sync/src/chain/mod.rs
Labels: A8-looksgood 🦄, B1-patch-beta 🕷, M4-core ⛓

#9591 fix (light/provider) : Make `read_only executions` read-only
  ethcore/src/client/client.rs
  ethcore/src/spec/spec.rs
  ethcore/src/state/mod.rs
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/impls/light/eth.rs
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷, M4-core ⛓

#9693 CI: Skip docs job for nightly
  .gitlab-ci.yml
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷, M1-ci 🙉

#9531 Fix ancient blocks sync
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/blocks.rs
  ethcore/sync/src/chain/handler.rs
  ethcore/sync/src/chain/mod.rs
Labels: A8-looksgood 🦄, B1-patch-beta 🕷, M4-core ⛓

#9717 Schedule nightly builds
  .gitlab-ci.yml
  scripts/gitlab/docs-jsonrpc.sh
  scripts/gitlab/publish-awss3.sh
  scripts/gitlab/publish-docker.sh
  scripts/gitlab/test-all.sh
Labels: A0-pleasereview 🤓, M1-ci 🙉

#9724 HF in POA Core (2018-10-22)
  ethcore/res/ethereum/poacore.json
Labels: A2-insubstantial 👶, A8-looksgood 🦄, B1-patch-beta 🕷, M2-config 📂

#9729 gitlab ci: releasable_branches: change variables condition to schedule
  .gitlab-ci.yml
Labels: A2-insubstantial 👶, A7-looksgoodtestsfail 🤖, B0-patch-stable 🕷, B1-patch-beta 🕷, M1-ci 🙉

#9725 produce portable binaries
  Cargo.lock
Labels: A2-insubstantial 👶, A8-looksgood 🦄, B1-patch-beta 🕷, B7-releasenotes 📜

#9648 Backports for stable 2.0.7
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  docker/README.md
  docker/alpine/Dockerfile
  docker/android/Dockerfile
  docker/android/cargo-config.toml
  docker/android/libudev.patch
  docker/centos/Dockerfile
  docker/hub/Dockerfile
  docker/ubuntu/Dockerfile
  ethcore/res/ethereum/poasokol.json
  ethcore/src/client/client.rs
  ethcore/src/engines/tendermint/mod.rs
  ethcore/src/spec/spec.rs
  ethcore/src/state/mod.rs
  ethcore/sync/src/chain/mod.rs
  parity-clib-examples/cpp/CMakeLists.txt
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/impls/light/eth.rs
  scripts/aura-test.sh
  scripts/cov.sh
  scripts/docker-build.sh
  scripts/docker/README.md
  scripts/docker/alpine/Dockerfile
  scripts/docker/centos/Dockerfile
  scripts/docker/centos/Dockerfile.build
  scripts/docker/centos/build.sh
  scripts/docker/hub/Dockerfile
  scripts/docker/ubuntu-aarch64/Dockerfile
  scripts/docker/ubuntu-arm/Dockerfile
  scripts/gitlab-build.sh
  scripts/gitlab-push-release.sh
  scripts/gitlab-test.sh
  scripts/gitlab/build-unix.sh
  scripts/gitlab/build-windows.sh
  scripts/gitlab/cargo-audit.sh
  scripts/gitlab/docs-jsonrpc.sh
  scripts/gitlab/publish-awss3.sh
  scripts/gitlab/publish-docker.sh
  scripts/gitlab/safe-curl.sh
  scripts/gitlab/sign-win.cmd
  scripts/gitlab/test-all.sh
  scripts/parity.service
  snap/gui/icon.png
  snap/gui/parity.desktop
  snap/snapcraft.yaml
  test.sh
  util/io/Cargo.toml
  util/io/src/lib.rs
  util/io/src/service_mio.rs
  util/io/src/service_non_mio.rs
  util/io/src/worker.rs
  util/network-devp2p/src/node_table.rs
  util/version/Cargo.toml
Labels: A8-backport 🕸, A8-looksgood 🦄, M2-config 📂, M4-core ⛓, P0-dropeverything 🌋

#9730 Add hardcoded headers
  ethcore/res/ethereum/foundation.json
  ethcore/res/ethereum/kovan.json
  ethcore/res/ethereum/ropsten.json
Labels: A0-pleasereview 🤓, A2-insubstantial 👶, B0-patch-stable 🕷, B1-patch-beta 🕷, M2-config 📂, M4-core ⛓

#9733 [beta] More backports for 2.1.2
  .gitlab-ci.yml
  Cargo.lock
  ethcore/res/ethereum/foundation.json
  ethcore/res/ethereum/kovan.json
  ethcore/res/ethereum/poacore.json
  ethcore/res/ethereum/ropsten.json
  ethcore/src/client/test_client.rs
  ethcore/src/engines/mod.rs
  ethcore/src/machine.rs
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/blocks.rs
  ethcore/sync/src/chain/handler.rs
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/tests/chain.rs
Labels: A0-pleasereview 🤓, A8-backport 🕸, M4-core ⛓

#9732 remove unused expired value from Handshake
  util/network-devp2p/src/handshake.rs
  util/network-devp2p/src/session.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9735 Add --force to cargo audit install script
  scripts/gitlab/cargo-audit.sh
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M1-ci 🙉

#9534 Add Callisto support
  ethcore/res/ethereum/callisto.json
  ethcore/src/ethereum/mod.rs
  parity/cli/mod.rs
  parity/params.rs
Labels: A6-mustntgrumble 💦, B7-releasenotes 📜, M2-config 📂

#9741 heads ref not present for branches beta and stable
  scripts/gitlab/test-all.sh
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M1-ci 🙉

#9746 Use signed 256-bit integer for sstore gas refund substate
  ethcore/evm/src/interpreter/gasometer.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/state/substate.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/runtime.rs
Labels: A0-pleasereview 🤓, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, B9-blocker 🚧, M4-core ⛓, P0-dropeverything 🌋

#9734 Make checkpoint_storage_at use plain loop instead of recursion
  ethcore/src/state/mod.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9738 Removed extra assert in SS test
  secret_store/src/key_server_cluster/cluster.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9742 docs: update changelogs
  CHANGELOG.md
  docs/CHANGELOG-2.0.md
Labels: A8-looksgood 🦄, M3-docs 📑

#9755 aura: fix panic on extra_info with unsealed block
  ethcore/src/engines/authority_round/mod.rs
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M4-core ⛓

#9748 Stable release 2.0.8 backports
  Cargo.lock
  Cargo.toml
  ethcore/evm/src/interpreter/gasometer.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/state/substate.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/runtime.rs
  scripts/gitlab/cargo-audit.sh
  scripts/gitlab/test-all.sh
  util/version/Cargo.toml
Labels: A8-backport 🕸, M4-core ⛓, P0-dropeverything 🌋

#9749 Beta release 2.1.3 backports
  Cargo.lock
  Cargo.toml
  ethcore/evm/src/interpreter/gasometer.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/tests.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/state/substate.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/runtime.rs
  scripts/gitlab/cargo-audit.sh
  scripts/gitlab/test-all.sh
  util/version/Cargo.toml
Labels: A8-backport 🕸, M4-core ⛓, P0-dropeverything 🌋

#9763 prevent zero networkID
  ethcore/res/ethereum/olympic.json
  json/src/spec/params.rs
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M2-config 📂, M4-core ⛓

#9758 docs: changelogs for 2.0.8 and 2.1.3
  CHANGELOG.md
  docs/CHANGELOG-2.0.md
Labels: A8-looksgood 🦄, M3-docs 📑

#9775 ethcore: bump ropsten forkblock checkpoint
  ethcore/res/ethereum/ropsten.json
  util/version/Cargo.toml
Labels: A2-insubstantial 👶, A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M2-config 📂

#9783 Support eth_chainId RPC method
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/light/eth.rs
  rpc/src/v1/impls/light/parity.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/tests/mocked/eth.rs
  rpc/src/v1/tests/mocked/parity.rs
  rpc/src/v1/traits/eth.rs
  rpc/src/v1/traits/parity.rs
Labels: A0-pleasereview 🤓, B7-releasenotes 📜, M6-rpcapi 📣

#9801 Drop Support for Olympic test net
  ethcore/res/ethereum/olympic.json
  ethcore/src/ethereum/mod.rs
  parity/cli/mod.rs
  parity/params.rs
Labels: A8-looksgood 🦄, M2-config 📂, M4-core ⛓

#9802 fix(light-rpc/parity) : Remove unused client
  parity/rpc_apis.rs
  rpc/src/v1/impls/light/parity.rs
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M4-core ⛓

#9753 sync: retry different peer after empty subchain heads response
  ethcore/sync/src/block_sync.rs
Labels: A8-looksgood 🦄, B1-patch-beta 🕷🕷, M4-core ⛓

#9692 aura: finalize blocks
  ethcore/light/src/client/mod.rs
  ethcore/src/client/client.rs
  ethcore/src/engines/authority_round/finality.rs
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/engines/basic_authority.rs
  ethcore/src/engines/mod.rs
  ethcore/src/engines/tendermint/mod.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9439 Expose config max-round-blocks-to-import
  ethcore/src/client/client.rs
  ethcore/src/client/config.rs
  parity/blockchain.rs
  parity/cli/mod.rs
  parity/configuration.rs
  parity/helpers.rs
  parity/run.rs
  parity/snapshot.rs
Labels: A6-mustntgrumble 💦, B7-releasenotes 📜, M4-core ⛓

#9731 removed "rustup" & added new runner tag
  scripts/gitlab/build-windows.sh
Labels: A2-insubstantial 👶, A5-grumble 🔥, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M1-ci 🙉

#9813 Insert dev account before unlocking
  parity/run.rs
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M4-core ⛓

#9804 Add readiness check for docker container
  scripts/docker/hub/Dockerfile
  scripts/docker/hub/check_sync.sh
Labels: A8-looksgood 🦄, M1-ci 🙉

#9792 Allow zero chain id in EIP155 signing process
  ethcore/transaction/src/transaction.rs
Labels: A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M4-core ⛓

#9815 Revert "prevent zero networkID (#9763)"
  json/src/spec/params.rs
Labels: A0-pleasereview 🤓, A2-insubstantial 👶, A6-revertrevert 💀, M4-core ⛓

#9745 RPC: parity_allTransactionHashes
  ethcore/src/miner/miner.rs
  ethcore/src/miner/mod.rs
  miner/src/pool/queue.rs
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/helpers/mod.rs
  rpc/src/v1/impls/light/parity.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/tests/helpers/miner_service.rs
  rpc/src/v1/traits/parity.rs
Labels: A8-looksgood 🦄, B7-releasenotes 📜, M4-core ⛓, M6-rpcapi 📣

#9786 Backports: parity stable 2.0.9
  Cargo.lock
  Cargo.toml
  ethcore/res/ethereum/ropsten.json
  ethcore/src/client/client.rs
  ethcore/transaction/src/transaction.rs
  parity/run.rs
  scripts/gitlab/build-windows.sh
  util/version/Cargo.toml
Labels: A0-pleasereview 🤓, A8-backport 🕸, M2-config 📂, M4-core ⛓

#9823 Clean up serde rename and use rename_all = camelCase when possible
  ethcore/wasm/run/src/fixture.rs
  json/src/blockchain/block.rs
  json/src/blockchain/blockchain.rs
  json/src/blockchain/header.rs
  json/src/blockchain/transaction.rs
  json/src/spec/authority_round.rs
  json/src/spec/basic_authority.rs
  json/src/spec/builtin.rs
  json/src/spec/engine.rs
  json/src/spec/ethash.rs
  json/src/spec/genesis.rs
  json/src/spec/hardcoded_sync.rs
  json/src/spec/instant_seal.rs
  json/src/spec/null_engine.rs
  json/src/spec/params.rs
  json/src/spec/seal.rs
  json/src/spec/spec.rs
  json/src/spec/tendermint.rs
  json/src/spec/validator_set.rs
  json/src/state/state.rs
  json/src/state/test.rs
  json/src/state/transaction.rs
  json/src/test/mod.rs
  json/src/transaction/transaction.rs
  json/src/trie/trie.rs
  json/src/vm/call.rs
  json/src/vm/env.rs
  json/src/vm/transaction.rs
  json/src/vm/vm.rs
  parity/cli/mod.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/call_request.rs
  rpc/src/v1/types/confirmations.rs
  rpc/src/v1/types/consensus_status.rs
  rpc/src/v1/types/derivation.rs
  rpc/src/v1/types/filter.rs
  rpc/src/v1/types/histogram.rs
  rpc/src/v1/types/log.rs
  rpc/src/v1/types/node_kind.rs
  rpc/src/v1/types/private_receipt.rs
  rpc/src/v1/types/provenance.rs
  rpc/src/v1/types/pubsub.rs
  rpc/src/v1/types/receipt.rs
  rpc/src/v1/types/sync.rs
  rpc/src/v1/types/trace.rs
  rpc/src/v1/types/trace_filter.rs
  rpc/src/v1/types/transaction.rs
  rpc/src/v1/types/transaction_condition.rs
  rpc/src/v1/types/transaction_request.rs
  whisper/src/rpc/types.rs
Labels: A8-looksgood 🦄, M2-config 📂

#9826 rpc/private: Fix typo
  rpc/src/v1/impls/private.rs
Labels: A0-pleasereview 🤓, A2-insubstantial 👶, M4-core ⛓

#9631 EIP-712 implementation
  Cargo.lock
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/helpers/errors.rs
  rpc/src/v1/impls/personal.rs
  rpc/src/v1/traits/personal.rs
  util/EIP-712/Cargo.toml
  util/EIP-712/src/eip712.rs
  util/EIP-712/src/encode.rs
  util/EIP-712/src/error.rs
  util/EIP-712/src/lib.rs
  util/EIP-712/src/parser.rs
Labels: A8-looksgood 🦄, M4-core ⛓

#9671 Tests modification for windows CI
  ethcore/light/src/cache.rs
  ethcore/src/snapshot/tests/service.rs
  ethcore/src/views/mod.rs
  ethstore/src/accounts_dir/vault.rs
  parity/configuration.rs
  rpc/src/tests/ws.rs
  secret_store/src/key_server.rs
  test.sh
Labels: A8-looksgood 🦄, M1-ci 🙉, M4-core ⛓

#9819 version: bump nightly to 2.3.0
  Cargo.lock
  Cargo.toml
  util/version/Cargo.toml
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M2-installer 📲

#9798 fix(docker-aarch64) : cross-compile config
  scripts/docker/ubuntu-aarch64/Dockerfile
Labels: A2-insubstantial 👶, A8-looksgood 🦄, M0-build 🏗

#9841 Move state root verification before gas used
  ethcore/src/verification/verification.rs
Labels: A2-insubstantial 👶, A8-looksgood 🦄, B0-patch-stable 🕷, B1-patch-beta 🕷🕷, M4-core ⛓

#9752 Ignore global cache for patched accounts
  ethcore/private-tx/src/lib.rs
  ethcore/private-tx/tests/private_contract.rs
  ethcore/src/state/account.rs
Labels: A0-pleasereview 🤓, M4-core ⛓
