Repository openethereum/openethereum, pull requests merged in 2018-08, with the labels that each got.

#9140 Comply EIP-86 with the new definition
  ethcore/evm/src/instructions.rs
  ethcore/evm/src/interpreter/gasometer.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/machine.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/schedule.rs
  rpc/src/v1/helpers/dispatch.rs
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/light/eth.rs
  rpc/src/v1/impls/light/parity.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/impls/parity_set.rs
  rpc/src/v1/tests/mocked/signing.rs
  rpc/src/v1/types/transaction.rs
Labels: A8-looksgood, B1-releasenotes, M4-core

#9257 Update ref to `parity-common` and update `seek` behaviour
  Cargo.lock
  ethcore/src/client/client.rs
Labels: A8-looksgood, M4-core

#9270 Fix CI
  ethcore/src/externalities.rs
Labels: A8-looksgood, F4-tests, M4-core

#9252 decode block rlp less often
  ethcore/src/block.rs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/engines/validator_set/multi.rs
  ethcore/src/engines/validator_set/safe_contract.rs
  ethcore/src/json_tests/chain.rs
  ethcore/src/miner/miner.rs
  ethcore/src/test_helpers.rs
  ethcore/src/tests/client.rs
  ethcore/src/tests/trace.rs
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/blocks.rs
  ethcore/sync/src/chain/handler.rs
  parity/blockchain.rs
  rpc/src/lib.rs
  rpc/src/v1/tests/eth.rs
Labels: A8-looksgood, M4-core

#9265 Propagate transactions for next 4 blocks.
  ethcore/light/src/net/mod.rs
  ethcore/light/src/net/tests/mod.rs
  ethcore/light/src/provider.rs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/tests/client.rs
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/chain/propagator.rs
Labels: A8-looksgood, M4-core

#9274 Fix path to parity.h
  parity-clib-examples/cpp/CMakeLists.txt
Labels: A2-insubstantial

#9273 Avoid using $HOME if not necessary
  parity/helpers.rs
  parity/upgrade.rs
  util/dir/src/helpers.rs
Labels: A8-looksgood, M4-core

#9254 Improve return data truncate logic
  ethcore/evm/src/interpreter/memory.rs
Labels: A8-looksgood, M4-core

#9120 Remove all dapp permissions related settings
  ethcore/src/account_provider/mod.rs
  ethcore/src/account_provider/stores.rs
  json/src/misc/dapps_settings.rs
  json/src/misc/mod.rs
  parity/lib.rs
  rpc/src/http_common.rs
  rpc/src/tests/rpc.rs
  rpc/src/v1/extractors.rs
  rpc/src/v1/helpers/fake_sign.rs
  rpc/src/v1/helpers/signing_queue.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/light/eth.rs
  rpc/src/v1/impls/light/parity.rs
  rpc/src/v1/impls/light/trace.rs
  rpc/src/v1/impls/parity.rs
  rpc/src/v1/impls/parity_accounts.rs
  rpc/src/v1/impls/personal.rs
  rpc/src/v1/impls/private.rs
  rpc/src/v1/impls/signing.rs
  rpc/src/v1/impls/signing_unsafe.rs
  rpc/src/v1/impls/traces.rs
  rpc/src/v1/metadata.rs
  rpc/src/v1/tests/mocked/eth.rs
  rpc/src/v1/tests/mocked/parity.rs
  rpc/src/v1/tests/mocked/parity_accounts.rs
  rpc/src/v1/tests/mocked/signer.rs
  rpc/src/v1/traits/eth.rs
  rpc/src/v1/traits/parity.rs
  rpc/src/v1/traits/parity_accounts.rs
  rpc/src/v1/traits/private.rs
  rpc/src/v1/traits/traces.rs
  rpc/src/v1/types/confirmations.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/provenance.rs
Labels: A8-looksgood, B0-patchthis, B1-releasenotes, B9-blocker, F6-refactor, M4-core

#9275 ethcore: add transition flag for transaction permission contract
  ethcore/res/tx_permission_tests/contract_ver_2_genesis.json
  ethcore/res/tx_permission_tests/deprecated_contract_genesis.json
  ethcore/src/machine.rs
  ethcore/src/spec/spec.rs
  ethcore/src/tx_filter.rs
  json/src/spec/params.rs
Labels: A8-looksgood, M4-core

#9264 ethcore sync decodes rlp less often
  ethcore/src/verification/queue/kind.rs
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/blocks.rs
Labels: A8-looksgood, M4-core

#9307 Move ethereum-specific H256FastMap type to own crate
  Cargo.lock
  Cargo.toml
  ethcore/light/Cargo.toml
  ethcore/light/src/client/header_chain.rs
  ethcore/light/src/lib.rs
  ethcore/light/src/transaction_queue.rs
  ethcore/sync/Cargo.toml
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/lib.rs
  ethcore/sync/src/transactions_stats.rs
  util/fastmap/Cargo.toml
  util/fastmap/src/lib.rs
  util/journaldb/Cargo.toml
  util/journaldb/src/lib.rs
  util/journaldb/src/overlayrecentdb.rs
Labels: A2-insubstantial, A8-looksgood, F6-refactor, M4-core

#9327 Fix codecov.io badge in README
  README.md
Labels: A8-looksgood

#9315 Allow tx pool to be Send
  transaction-pool/Cargo.toml
  transaction-pool/src/lib.rs
  transaction-pool/src/scoring.rs
Labels: A8-looksgood

#9313 Update tobalaba.json
  ethcore/res/ethereum/tobalaba.json
Labels: A2-insubstantial, A8-looksgood, M2-config

#9294 Update `log` -> 0.4, `env_logger` -> 0.5.
  Cargo.lock
  Cargo.toml
  ethash/Cargo.toml
  ethcore/Cargo.toml
  ethcore/evm/Cargo.toml
  ethcore/light/Cargo.toml
  ethcore/node_filter/Cargo.toml
  ethcore/private-tx/Cargo.toml
  ethcore/service/Cargo.toml
  ethcore/src/block.rs
  ethcore/stratum/Cargo.toml
  ethcore/sync/Cargo.toml
  ethcore/sync/src/tests/chain.rs
  ethcore/sync/src/tests/snapshot.rs
  ethcore/vm/Cargo.toml
  ethcore/wasm/Cargo.toml
  ethkey/Cargo.toml
  ethkey/cli/Cargo.toml
  ethkey/cli/src/main.rs
  ethstore/Cargo.toml
  hash-fetch/Cargo.toml
  hw/Cargo.toml
  local-store/Cargo.toml
  logger/Cargo.toml
  logger/src/lib.rs
  logger/src/rotating.rs
  miner/Cargo.toml
  price-info/Cargo.toml
  rpc/Cargo.toml
  rpc_client/Cargo.toml
  secret_store/Cargo.toml
  transaction-pool/Cargo.toml
  updater/Cargo.toml
  util/io/Cargo.toml
  util/journaldb/Cargo.toml
  util/migration-rocksdb/Cargo.toml
  util/network-devp2p/Cargo.toml
  util/stats/Cargo.toml
  util/trace-time/Cargo.toml
  whisper/Cargo.toml
  whisper/cli/Cargo.toml
Labels: A8-looksgood

#9269 Docker alpine: use multi-stage concept
  docker/alpine/Dockerfile
Labels: A8-looksgood, M0-build

#9310 Prevent blockchain & miner racing when accessing pending block.
  ethcore/src/miner/miner.rs
  util/using_queue/src/lib.rs
Labels: A8-looksgood, M6-rpcapi

#9292 Allow setting the panic hook with parity-clib
  Cargo.lock
  parity-clib/Cargo.toml
  parity-clib/parity.h
  parity-clib/src/lib.rs
  parity/lib.rs
  parity/main.rs
  util/panic_hook/src/lib.rs
Labels: A8-looksgood, M4-core

#9316 ethcore/sync `Make view macro only visible to test`
  Cargo.lock
  ethcore/sync/src/lib.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#9328 ethcore: fix pow difficulty validation
  Cargo.lock
  ethash/Cargo.toml
  ethash/src/lib.rs
  ethcore/src/ethereum/ethash.rs
  ethcore/src/miner/stratum.rs
  json/src/spec/ethash.rs
  miner/src/work_notify.rs
  rpc/src/v1/impls/eth.rs
Labels: A8-looksgood, B0-patchthis, M4-core

#9256 Implement EIP234 block_hash for eth_getLogs
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/tests/client.rs
  rpc/src/v1/helpers/errors.rs
  rpc/src/v1/helpers/poll_filter.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/eth_filter.rs
  rpc/src/v1/impls/eth_pubsub.rs
  rpc/src/v1/impls/light/eth.rs
  rpc/src/v1/tests/mocked/eth.rs
  rpc/src/v1/types/filter.rs
  rpc/src/v1/types/pubsub.rs
  secret_store/src/listener/service_contract.rs
  updater/src/updater.rs
Labels: A0-pleasereview, B1-releasenotes, M6-rpcapi

#9321 Fix load share
  Cargo.lock
  ethcore/sync/Cargo.toml
  ethcore/sync/src/api.rs
  ethcore/sync/src/lib.rs
Labels: A8-looksgood, B0-patchthis, M4-core

#9051 Allow single opcode stepping for EVM
  Cargo.lock
  ethcore/evm/Cargo.toml
  ethcore/evm/src/evm.rs
  ethcore/evm/src/factory.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/evm/src/lib.rs
  ethcore/evm/src/tests.rs
  ethcore/src/executive.rs
  ethcore/src/factory.rs
  ethcore/src/json_tests/executive.rs
  ethcore/vm/src/lib.rs
  ethcore/wasm/run/src/runner.rs
  ethcore/wasm/src/lib.rs
  ethcore/wasm/src/tests.rs
Labels: A0-pleasereview, F6-refactor, M4-core

#9211 Remove pass-by-reference return data value from executive
  ethcore/evm/src/evm.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/src/client/evm_test_client.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/json_tests/executive.rs
  ethcore/src/machine.rs
  ethcore/src/spec/spec.rs
  ethcore/src/tests/evm.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/tests.rs
  ethcore/wasm/src/runtime.rs
Labels: A8-looksgood, M4-core

#9331 Light client logs should include 'from_block' when querying logs
  rpc/src/v1/helpers/light_fetch.rs
Labels: A8-looksgood

#9347 TransactionPool: Expose UnorderedIterator.
  Cargo.lock
  transaction-pool/Cargo.toml
  transaction-pool/src/lib.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#9324 More details in logs returned by light client
  rpc/src/v1/helpers/light_fetch.rs
Labels: A8-looksgood, M6-rpcapi

#9353 Remove prepare_trace_output and make sure prepare_trace_call and trace*call are balanced
  ethcore/src/executive.rs
  ethcore/src/trace/executive_tracer.rs
  ethcore/src/trace/mod.rs
  ethcore/src/trace/noop_tracer.rs
Labels: A8-looksgood, M4-core

#9355 Fix no line breaks in logs
  logger/src/lib.rs
Labels: A2-insubstantial, F2-bug, M4-core

#9371 Fix typos in `network-devp2p`
  util/network-devp2p/src/connection.rs
  util/network-devp2p/src/handshake.rs
  util/network-devp2p/src/node_table.rs
  util/network-devp2p/src/service.rs
  util/network-devp2p/src/session.rs
Labels: A2-insubstantial, A8-looksgood, M3-docs, M4-core

#9363 Better logging when mining own transactions.
  Cargo.lock
  ethcore/service/src/service.rs
  ethcore/src/miner/miner.rs
  miner/src/pool/listener.rs
  miner/src/pool/local_transactions.rs
  miner/src/pool/queue.rs
  rpc/src/v1/types/transaction.rs
  transaction-pool/Cargo.toml
  transaction-pool/src/listener.rs
  transaction-pool/src/pool.rs
  transaction-pool/src/tests/mod.rs
Labels: A0-pleasereview, M4-core

#9372 Light-client `Make Capabilities Copy Type`
  ethcore/light/src/net/mod.rs
  ethcore/light/src/net/status.rs
  ethcore/light/src/net/tests/mod.rs
  ethcore/light/src/on_demand/mod.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#9375 evmbin: allow calling contracts from genesis state.
  Cargo.lock
  ethcore/src/ethereum/mod.rs
  ethcore/src/spec/spec.rs
  evmbin/Cargo.toml
  evmbin/res/testchain.json
  evmbin/src/display/std_json.rs
  evmbin/src/info.rs
  evmbin/src/main.rs
Labels: A8-looksgood, M4-core

#9378 network-devp2p `Fix some clippy errors/warnings`
  util/network-devp2p/src/connection.rs
  util/network-devp2p/src/discovery.rs
  util/network-devp2p/src/handshake.rs
  util/network-devp2p/src/host.rs
  util/network-devp2p/src/node_table.rs
  util/network-devp2p/src/service.rs
  util/network/src/lib.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#9386 Delete obsolete Dockerfile
  docker/ubuntu/Dockerfile
Labels: A2-insubstantial, M0-build

#9293 Replace `std::env::home_dir()` with `home` crate impl.
  Cargo.lock
  README.md
  parity/upgrade.rs
  util/dir/Cargo.toml
  util/dir/src/helpers.rs
  util/dir/src/lib.rs
Labels: A5-grumble, M4-core

#9391 docs: restore readme
  README.md
Labels: A2-insubstantial, M3-docs

#9387 [light/net/load_timer] Replace `Duration::new()` with `Duration::from_nanos`
  ethcore/light/src/net/load_timer.rs
Labels: A2-insubstantial, A8-looksgood, M4-core

#9392 Revert "Use std::sync::Condvar (#1732)"
  ethcore/src/verification/queue/mod.rs
  util/io/src/service_mio.rs
  util/io/src/worker.rs
Labels: A8-looksgood, M4-core

#9406 ethcore: kovan: delay activation of strict score validation
  ethcore/res/ethereum/kovan.json
Labels: A8-looksgood, B0-patchthis, M4-core

#9280 nonroot CentOS Docker image
  docker/README.md
  docker/centos/Dockerfile
  docker/centos/Dockerfile.build
  docker/centos/build.sh
Labels: A8-looksgood, M0-build

#9381 Prevent old blocks sync restart if import queue full
  ethcore/src/client/client.rs
  ethcore/src/error.rs
  ethcore/sync/src/block_sync.rs
Labels: A8-looksgood, B0-patchthis, M4-core

#9397 remove block view!
  ethcore/src/block.rs
  ethcore/src/verification/verification.rs
  ethcore/sync/src/blocks.rs
  ethcore/sync/src/chain/supplier.rs
  ethcore/sync/src/lib.rs
Labels: A0-pleasereview, M4-core

#9219 Add update docs script to CI
  .gitlab-ci.yml
  scripts/gitlab-rpc-docs.sh
Labels: A8-looksgood, B0-patchthis, M1-ci, M3-docs

#9186 Better support for eth_getLogs in light mode
  Cargo.lock
  ethcore/light/src/lib.rs
  ethcore/light/src/on_demand/mod.rs
  ethcore/light/src/on_demand/request.rs
  ethcore/light/src/provider.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/helpers/errors.rs
  rpc/src/v1/helpers/light_fetch.rs
Labels: A8-looksgood, B0-patchthis, M6-rpcapi

#8765 Updating the CI system
  .gitlab-ci.yml
  docker/hub/Dockerfile
  scripts/cov.sh
  scripts/docker-build.sh
  scripts/gitlab-build.sh
  scripts/gitlab-push-release.sh
  scripts/gitlab-test.sh
  scripts/gitlab/build-unix.sh
  scripts/gitlab/build-windows.sh
  scripts/gitlab/clippy.sh
  scripts/gitlab/coverage.sh
  scripts/gitlab/install-readme.sh
  scripts/gitlab/package-snap.sh
  scripts/gitlab/publish-docker.sh
  scripts/gitlab/publish-snap.sh
  scripts/gitlab/push.sh
  scripts/gitlab/rpc-docs.sh
  scripts/gitlab/rustfmt.sh
  scripts/gitlab/safe_curl.sh
  scripts/gitlab/sign.cmd
  scripts/gitlab/templates/release-table.md
  scripts/gitlab/templates/snapcraft.template.yaml
  scripts/gitlab/test.sh
  snap/snapcraft.yaml
  test.sh
Labels: A8-looksgood, B9-blocker, M0-build, M1-ci, M2-installer, P2-asap

#9414 Update to RocksDB v5.14.3
  Cargo.lock
Labels: A2-insubstantial, M4-core

#9415 docs: add parity ethereum logo to readme
  README.md
  docs/logo-parity-ethereum.svg
Labels: A0-pleasereview, M3-docs

#9419 Update tobalaba.json
  ethcore/res/ethereum/tobalaba.json
Labels: A0-pleasereview, A2-insubstantial, B0-patchthis

#8715 Private packets verification and queue refactoring
  Cargo.lock
  ethcore/private-tx/Cargo.toml
  ethcore/private-tx/src/encryptor.rs
  ethcore/private-tx/src/error.rs
  ethcore/private-tx/src/lib.rs
  ethcore/private-tx/src/messages.rs
  ethcore/private-tx/src/private_transactions.rs
  ethcore/service/Cargo.toml
  ethcore/service/src/lib.rs
  ethcore/service/src/service.rs
  ethcore/src/client/chain_notify.rs
  ethcore/src/test_helpers.rs
  ethcore/sync/src/api.rs
  ethcore/sync/src/chain/handler.rs
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/chain/propagator.rs
  ethcore/sync/src/private_tx.rs
  ethcore/sync/src/tests/helpers.rs
  ethcore/sync/src/tests/private.rs
  miner/src/pool/local_transactions.rs
  miner/src/pool/mod.rs
  miner/src/pool/scoring.rs
Labels: A8-looksgood, M4-core

#9312 Add block reward contract config to ethash and allow off-chain contracts
  ethcore/src/engines/authority_round/mod.rs
  ethcore/src/engines/block_reward.rs
  ethcore/src/engines/mod.rs
  ethcore/src/engines/null_engine.rs
  ethcore/src/ethereum/ethash.rs
  ethcore/src/machine.rs
  json/src/spec/authority_round.rs
  json/src/spec/ethash.rs
Labels: A0-pleasereview, M4-core

#9421 Update hardcoded sync
  ethcore/res/ethereum/foundation.json
  ethcore/res/ethereum/kovan.json
  ethcore/res/ethereum/ropsten.json
Labels: A0-pleasereview, A2-insubstantial, B0-patchthis

#9418 evmbin: Fix gas_used issue in state root mismatch and handle output better
  evmbin/src/display/std_json.rs
  evmbin/src/info.rs
Labels: A8-looksgood, M5-binaries

#9423 Random small cleanups
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  README.md
  chainspec/Cargo.toml
  docker/README.md
  ethash/Cargo.toml
  ethkey/README.md
  ethkey/cli/src/main.rs
  ethstore/README.md
  ethstore/cli/src/main.rs
  evmbin/README.md
  evmbin/src/main.rs
  license_header
  parity/cli/usage_header.txt
  parity/cli/version.txt
  scripts/parity.service
  snap/gui/icon.png
  snap/gui/parity.desktop
  test.sh
  util/macros/Cargo.toml
  util/mem/Cargo.toml
  util/stop-guard/Cargo.toml
  util/unexpected/Cargo.toml
  util/using_queue/Cargo.toml
  util/version/Cargo.toml
  whisper/README.md
  whisper/cli/src/main.rs
Labels: A2-insubstantial, M3-docs

#9228 stable backports for 1.11.10
  Cargo.lock
  Cargo.toml
  docker/hub/Dockerfile
  ethash/Cargo.toml
  ethash/src/lib.rs
  ethcore/light/src/lib.rs
  ethcore/light/src/net/mod.rs
  ethcore/light/src/net/tests/mod.rs
  ethcore/light/src/on_demand/mod.rs
  ethcore/light/src/on_demand/request.rs
  ethcore/light/src/provider.rs
  ethcore/res/ethereum/kovan.json
  ethcore/res/ethereum/tobalaba.json
  ethcore/src/client/client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/ethereum/ethash.rs
  ethcore/src/miner/miner.rs
  ethcore/src/miner/stratum.rs
  ethcore/src/tests/client.rs
  ethcore/sync/src/chain/mod.rs
  ethcore/sync/src/chain/propagator.rs
  json/src/spec/ethash.rs
  mac/Parity.pkgproj
  miner/src/work_notify.rs
  nsis/installer.nsi
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/helpers/errors.rs
  rpc/src/v1/helpers/light_fetch.rs
  rpc/src/v1/impls/eth.rs
  rpc/src/v1/impls/eth_pubsub.rs
  rpc/src/v1/impls/light/eth.rs
  util/network-devp2p/src/service.rs
  util/version/Cargo.toml
Labels: A0-pleasereview, A8-backport, M2-installer

#9436 docker: install missing dependencies in arm target dockerfiles
  docker/ubuntu-aarch64/Dockerfile
  docker/ubuntu-arm/Dockerfile
Labels: A2-insubstantial, M1-ci

#9413 Add POA Networks: Core and Sokol
  ethcore/res/ethereum/poacore.json
  ethcore/res/ethereum/poasokol.json
  ethcore/src/ethereum/mod.rs
  parity/cli/mod.rs
  parity/params.rs
  parity/run.rs
  rpc/src/v1/traits/parity.rs
  rpc/src/v1/traits/parity_set.rs
Labels: A0-pleasereview, B0-patchthis, M2-config, M4-core

#9447 Remove unused BlockStatus::Pending
  ethcore/src/client/client.rs
  ethcore/sync/src/block_sync.rs
  ethcore/sync/src/chain/handler.rs
  ethcore/types/src/block_status.rs
Labels: A8-looksgood, M4-core

#9451 add tags for runner selection of build-linux jobs
  .gitlab-ci.yml
Labels: A8-looksgood, M1-ci

#9268 Add EIP-1014 transition config flag
  ethcore/evm/src/instructions.rs
  ethcore/evm/src/interpreter/mod.rs
  ethcore/light/src/client/mod.rs
  ethcore/res/ethereum/classic.json
  ethcore/res/ethereum/easthub.json
  ethcore/res/ethereum/eip150_test.json
  ethcore/res/ethereum/eip161_test.json
  ethcore/res/ethereum/ellaism.json
  ethcore/res/ethereum/expanse.json
  ethcore/res/ethereum/foundation.json
  ethcore/res/ethereum/frontier_like_test.json
  ethcore/res/ethereum/frontier_test.json
  ethcore/res/ethereum/homestead_test.json
  ethcore/res/ethereum/mcip3_test.json
  ethcore/res/ethereum/mcip6_byz.json
  ethcore/res/ethereum/morden.json
  ethcore/res/ethereum/musicoin.json
  ethcore/res/ethereum/olympic.json
  ethcore/res/ethereum/ropsten.json
  ethcore/res/ethereum/social.json
  ethcore/res/instant_seal.json
  ethcore/res/null.json
  ethcore/src/client/client.rs
  ethcore/src/client/evm_test_client.rs
  ethcore/src/client/test_client.rs
  ethcore/src/client/traits.rs
  ethcore/src/executive.rs
  ethcore/src/externalities.rs
  ethcore/src/spec/spec.rs
  ethcore/vm/src/ext.rs
  ethcore/vm/src/schedule.rs
  json/src/spec/params.rs
Labels: A1-onice, A8-looksgood, M4-core
